{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Blog Post</legend>
				<!-- that .as_p will render our form in paragraph tags  -->
				<!-- {{ form.as_p }} -->
				<!-- The two lines above were put before we used crispy which is better an easier to work with forms -->
				{{ form|crispy }}
			</fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>        
    </div>
<!-- we user the 'endblock content' instead of just 'endblock'
just to keep track better of the content we're ending -->
{% endblock content %}