{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<div class="media">
		  <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
		  <div class="media-body">
			<!-- Line below is another django functionality to acces to a current loged user info -->
			<h2 class="account-heading">{{ user.username }}</h2>
			<p class="text-secondary">{{ user.email }}</p>
		  </div>
		</div>
		<!-- important thar enctyp to upload the image properly -->
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Profile Info</legend>
				<!-- that .as_p will render our form in paragraph tags  -->
				<!-- {{ form.as_p }} -->
				<!-- The two lines above were put before we used crispy which is better an easier to work with forms -->
				<!-- The two lines below will merge the two forms into one -->
				{{ u_form|crispy }}
				{{ p_form|crispy }}
			</fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
	  </div>
<!-- we user the 'endblock content' instead of just 'endblock'
just to keep track better of the content we're ending -->
{% endblock content %}